<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Creepster&family=Hind+Guntur:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <title>Template</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>header</h1>
            <nav>
                <a href="#">link 1</a>
                <a href="#">link 2</a>
                <a href="#">link 3</a>

            </nav>
        </header>
        <main>
            <h2>main</h2>
            <aside>
                <h2>Aside</h2>
            </aside>
        <figure>
            <img src="https://dummyimage.com/400/ffffff/000000" alt="square">
        </figure>
        </main>
        <footer>
            <p>&copy; 2024 Savannah Shacklee</p>
        </footer>
    </div>
</body>
</html>