/* Styles */
body{
    background-color:lightgoldenrodyellow;
    color: hotpink; 
    font-size:large;
    font-weight: bold;
}


.container{
    width: 80%;
    margin: 15px auto;
}

h1{
    color:orange;

}


header{
    text-align: center;
    font-family: cursive 
}

div, header, main, footer{
    border: 2px solid lightskyblue;
}
