body{
    background:rgb(247, 203, 210);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    text-align: center;
    line-height: 3;
}

nav a{
    text-decoration:none;
    background: #5fa95f;
    padding: 10px 15px;
    border-radius: 20px;
    color:ivory;
    font-weight: bold;
    margin-left: 15px;
    border: 2px solid #5fa95f;
}

nav a:hover{
    background:ivory;
    color: #5fa95f;
}

img {
    width: 25%;
}

#cancun

#