body{
    background:rgb(247, 203, 210);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    text-align: center;
    line-height: 3;
}

nav a{
    text-decoration:none;
    background: #5fa95f;
    padding: 10px 15px;
    border-radius: 20px;
    color:ivory;
    font-weight: bold;
    margin-left: 15px;
    border: 2px solid #5fa95f;
}

nav a:hover{
    background:ivory;
    color: #5fa95f;
}

img {
    width: 30%;
}

img.ct{
    width: 20%;
    float: right;
    border: 10px solid #5fa95f;
}    
    
img.cancun{
    width: 20%;
    border: 10px solid #5fa95f;
}

img.jeans_thrifting{

    width:20%;
    border: 10px solid #5fa95f;
}

img.black_dress_thrifting{
    width:20%;
    border: 10px solid #5fa95f;
}

img.car_black{
    width:20%;
    border: 10px solid #5fa95f;
}

img.car_makeup{
    width:20%;
    border: 10px solid #5fa95f;
    float: right;
}


div, header, main, footer{
        border: 5px solid #5fa95f;
}


